* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
:root {
  /* main color */
  --blue: #007bff;
  --green: #28a745;
  --dark-green: #166941;
  --text-color: #000000;
  --bg-color: #ffffff;
  --color-grey: #595959;
  /* font family */
  /* font-family: "Poppins", sans-serif; */
}
body {
    background: url(https://img.freepik.com/free-vector/shiny-white-gray-background-with-wavy-lines_1017-25101.jpg?w=2000);
  font-family: "Poppins", sans-serif;
}
/* navbar  starts*/
.navigation__item {
  padding: 30px;
}
.navigation__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.naviagtion__item__logo img {
  display: block;
  max-width: 70%;
}
.naviagtion__item__menu ul li {
  display: inline;
}
.naviagtion__item__menu li a {
  text-decoration: none;
  margin-right: 20px;
  color: #595959;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu i {
  margin-left: 20px;
  color: var(--color-dark-blue);
}
#icon {
  display: none;
}
.vl {
  border-left: 2px solid var(--dark-green);
}
.buttons--main {
  padding: 15px 30px;
  background: none;
  border: 2px solid var(--dark-green);
  color: var(--bg-color);
  background-color: var(--dark-green);
  font-size: 14px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
header{
    margin-top: 50px;
}
.content{
    padding: 50px;
    margin-left: 80px;
}
.content h1{
    color: var(--dark-green);
}
.content__group input{
    background: var(--bg-color);
    border: none;
    border-radius: 20px;
    width: 450px;
    margin: 20px 0 25px 0;
    padding: 12px 10px;
}
.content__group button{
    background: var(--dark-green);
    border: none;
    color: white;
    padding: 10px 55px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.content__group a{
    color: var(--color-grey);
}
.content__group h2{
  font-weight: 600;

}
.content__group input:focus {
    outline: var(--dark-green);
  }
.content h1{
    font-size: 3em;
    font-weight: 600;
}
.content p {
    color: var(--color-grey);
}
/* footer */
.footer {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.footer__row--logo {
  flex-basis: 30%;
}
.columns-1 {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}
.columns-1 span {
  color: var(--bg-color);
}
.columns-1 p {
  color: var(--bg-color);
  margin-top: 30px;
}
.columns-1 h4 {
  padding: 20px 0;
  font-size: 1.2em;
  color: var(--bg-color);
  text-align: left;
}
.columns-1 ul {
  list-style-type: none;
}
.columns-1 ul li {
  margin-top: 10px;
}
.columns-1 ul li a {
  color: var(--bg-color);
  text-decoration: line-through;
}
.columns-1 ul li a:hover {
  text-decoration: none;
}
/* .... footer ends ...... */
@media (max-width: 1101px) {
    .naviagtion__item__logo img {
        max-width: 70%;
    }
  /* naviagiton reponsive */
  .naviagtion__item__menu i {
    margin-left: 40px;
  }
  .naviagtion__item__menu #icon {
    display: block;
    cursor: pointer;
    color: #595959;
    font-size: 20px;
    margin-right: 20px;
  }
  .naviagtion__item__menu ul {
    display: none;
  }
  .naviagtion__item__menu ul.active {
    display: block;
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .naviagtion__item__menu li a {
    display: block;
    margin: 50px 40px;
    font-size: 1.125em;
    border-bottom: 1px solid var(--dark-green);
    text-align: left;
  }
  .menu--btn {
    margin-left: 38px;
    width: 80%;
    text-align: center;
  }
  .vl {
    display: none;
  }
  .navigation__item{
    flex-wrap: nowrap
  }
  .columns-1 {
    text-align: left;
  }
  .columns-1 h4 {
    text-align: left;
  }
  .columns-1 ul {
    text-align: left;
  }
  .footer {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 769px) {
    .content{
        padding: 30px;
        margin-left: 0px;
    }
  .naviagtion__item__logo img {
    width: 400px;
  }
  .col__2 img {
    width: 100%;
  }
  
}
@media (max-width: 576px) {
    .content__group input{
        width: 300px;
        margin: 30px 0 20px 0;
        padding: 8px 10px;
    }
  /* navigation */
  .naviagtion__item__menu ul.active {
    width: 250px;
  }
  .menu--btn {
    margin-left: 38px;
    width: 70%;
  }
}
