*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


hr{
    height: 2px;
    background-color: var(--dark-green);
    width: 95%;
    margin: auto;
    border: none;
}
:root{
--blue: #007bff;
  --green: #28a745;
  --dark-green: #166941;
  --text-color: #000000;
  --bg-color: #ffffff;
  --color-grey: #595959;

  font-family: 'Poppins', sans-serif;

}

.navigation__item {
  padding: 30px;
}
.navigation__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgba(41, 115, 19, 0.414) 55%, rgba(18,92,18,0.9360119047619048) 95%);
}
.naviagtion__item__logo img {
  display: block;
  max-width: 70%;
}
.naviagtion__item__menu ul li {
  display: inline;
}
.menu--btn {
  background: var(--dark-green);
  text-decoration: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
}
.menu--a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu li a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu i {
  display: none;
}
.vl {
  border-left: 2px solid var(--dark-green);
}

.titulli h1 {
    margin:30px;
    font-size: 2.5em;
}
.row, .row1, .row2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    margin: 15px 0px 15px 0px;
}


.col{
    width: 45%;
}
.col__content h1{
    margin-bottom: 20px;
}

.col__image img{
    margin: 20px auto 20px auto;
    max-width: 80%;
    
}
h1{
    color: var(--dark-green);
    font-size: 2em;
}
@media only screen and (max-width: 600px) {
    .col{
        width: 90%;
    }
    .row1 {
        flex-direction: column-reverse;
    }
    .titulli h1 {
        margin:15px;
        font-size: 2em;
    }
    h1 {
        font-size: 1.5em;
    }
    .col__image img{
        margin: 10px auto 10px auto;
        max-width: 100%;
        
    }
    .col__image {
        padding: auto;
    }
    p {
        font-size: 1em;
    }
    .navigation__item ul li {
        display: none;
      }
      .naviagtion__item__logo img {
        width: 280px;
      }
      .navigation__item {
        padding: 20px;
        background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(18,92,18,0.9360119047619048) 95%);
        
      }
      .naviagtion__item__menu i {
        display: block;
      }

}
