* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--blue: #007bff;
--green: #28a745;
--dark-green: #166941;
--text-color: #000000;
--bg-color: #ffffff;
--color-grey: #595959;

font-family: 'Poppins', sans-serif;

}
a {
  color: #000000;
}

.navigation__item {
  padding: 30px;
}
.navigation__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: rgb(255,255,255);
}
.naviagtion__item__logo img {
  display: block;
  max-width: 70%;
}
.naviagtion__item__menu ul li {
  display: inline;
}
.menu--btn {
  background: var(--dark-green);
  text-decoration: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
}
.menu--a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
li a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #595959;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu i {
  display: none;
}
.vl {
  border-left: 2px solid var(--dark-green);
}
.btn {
  border: none;
  outline: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
}

/* Style the active class, and buttons on mouse-over */
.active-joni, .btn:hover {
  background-color: var(--dark-green);
}
.btn:hover a, .active-joni a {
  color: var(--bg-color);
}
/* test */
h1 {
  margin: 10px auto 15px auto;
}
.divbaba {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  margin: 15px 0px 15px 0px;
}
.col1, .col2 {
  width: 45%;
  min-height: 700px;
  background-color: rgb(255,255,255);
  border: 2pt solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  }

ol li {
  margin:10px 0 0 30%;
}
.lista_qmimi ul {
  padding-left: 10%;
  margin-top: 30px;
}
.lista_qmimi ul li {
  margin: 10px 0;
}

.button-btn{
  text-align: center;
  margin: 20px auto;
}

.button-btn button {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1pt black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
}
.button-btn button:hover {
  background-color: var(--dark-green);
}
.button-btn button:hover a {
  color: #ffffff;
}


/* css per divin e titullit */
.titulli {
  text-align: center;
  margin: 30px 10px;
}

/* css per div baben 2 */
.divbaba2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  margin: 50px 0px 15px 0px;
  /* text-align: center; */
}

.col21, .col22, .col23 {
  width: 30%;
  border: 2pt solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  height: 400px;
}
.col__content2 ul li {
  margin-left: 20px;
}

.col__content2 ul {
  height: 220px;
}

