* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
--blue: #007bff;
--green: #28a745;
--dark-green: #166941;
--text-color: #000000;
--bg-color: #ffffff;
--color-grey: #595959;

font-family: 'Poppins', sans-serif;

}

.navigation__item {
  padding: 30px;
}
.navigation__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: rgb(255,255,255);
}
.naviagtion__item__logo img {
  display: block;
  max-width: 70%;
}
.naviagtion__item__menu ul li {
  display: inline;
}
.menu--btn {
  background: var(--dark-green);
  text-decoration: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
}
.menu--a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
li a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #595959;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu i {
  display: none;
}
.vl {
  border-left: 2px solid var(--dark-green);
}
.btn {
  border: none;
  outline: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
}

/* Style the active class, and buttons on mouse-over */
.active-joni, .btn:hover {
  background-color: var(--dark-green);
}
.btn:hover a, .active-joni a {
  color: var(--bg-color);
}
/* test */
.col2 {
  color: red;
}
.divbaba {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  margin: 15px 0px 15px 0px;
}
.col1, .col2 {
  width: 45%;
  background-color: aqua;
  border: 2pt solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  }
body {
  background-color: #28a745;
}
.lista_qmimi ul {
  padding-left: 10%;
}
.button-btn button {
  padding: 10px 20px;
  background-color: var(--dark-green);
  margin: 30px auto 30px auto;
  border-radius: 15px;
  color: var(--bg-color);
  cursor: pointer;
  margin-left: 40%; 
}

.button-btn a {
  position: absolute;
  visibility: hidden;
  border-radius: 15px;
  color: var(--bg-color);
  padding: 10px 20px;
  background-color: var(--dark-green);
  margin: 30px auto 30px auto;
  border-radius: 15px;
  color: var(--bg-color);
  cursor: pointer;
}

.button-btn:hover a {
  visibility: visible;
  position: relative;
  right: 120px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 15px;
  color: var(--bg-color);
}
/* css per divin e titullit */
.titulli {
  text-align: center;
  margin: 30px 10px;
}
/* css per div baben 2 */
.divbaba2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  margin: 50px 0px 15px 0px;
  /* text-align: center; */
}

.col21, .col22, .col23{
  background-color: aqua;
  width: 29%;
  border: 2pt solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}
