* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* main color */
  --blue: #007bff;
  --green: #28a745;
  --dark-green: #166941;
  --text-color: #000000;
  --bg-color: #ffffff;
  --color-grey: #595959;
  /* font family */
  /* font-family: "Poppins", sans-serif; */
}
/* margin reusable */
.mt {
  margin-top: 100px;
}
.mb {
  margin-bottom: 100px;
}
.ml {
  margin-left: 100px;
}
.mr {
  margin-right: 100px;
}

/* padding reusable */
.pt {
  padding-top: 50px;
}
.pb {
  padding-bottom: 50px;
}
.pl {
  padding-left: 50px;
}
.pr {
  padding-right: 50px;
}
.navigation__item {
  padding: 30px;
}
.navigation__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.naviagtion__item__logo img {
  display: block;
  max-width: 70%;
}
.naviagtion__item__menu ul li {
  display: inline;
}
.menu--btn {
  background: var(--dark-green);
  text-decoration: none;
  border: none;
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
}
.menu--a {
  text-decoration: none;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu li a {
  text-decoration: none;
  margin-right: 20px;
  color: #595959;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.naviagtion__item__menu i {
  display: none;
}
.vl {
  border-left: 2px solid var(--dark-green);
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}
.col__1 {
  flex-basis: 45%;
}
.col__1 h1 {
  font-size: 4em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.col__1 p {
  margin-top: 20px;
  font-size: 1.125em;
  font-family: "Poppins", sans-serif;
  color: var(--color-grey);
}
.col__1--buttons {
  padding: 30px 0 0 0;
}
.col__1--buttons a {
  text-decoration: none;
  color: var(--bg-color);
}
.buttons--2 {
  padding: 15px 30px;
  background: none;
  border: 2px solid var(--dark-green);
  color: var(--text-color);
  font-size: 14px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.buttons--main {
  padding: 15px 30px;
  background: none;
  border: 2px solid var(--dark-green);
  color: var(--bg-color);
  background-color: var(--dark-green);
  font-size: 14px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.item__3--col {
  background: rgb(248, 249, 250);
  background: linear-gradient(
    180deg,
    rgba(248, 249, 250, 1) 0%,
    rgba(252, 252, 253, 0.379) 64%,
    rgba(255, 255, 255, 0.333) 100%
  );
  width: 300px;
  color: black;
  height: 250px;
  margin-top: 20px;
  color: white;
  flex-grow: 1;
  margin: 30px;
}
.item--content {
  color: black;
  text-align: left;
  padding: 20px;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}
.item--content a {
  text-decoration: none;
  color: var(--dark-green);
}
.item--content p {
  text-align: left;
  color: var(--color-grey);
}
.item--content span {
  font-size: 25px;
  color: var(--dark-green);
  font-weight: 900;
}
.row__columns h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.75em;
  font-weight: 700;
}
.history__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.history__row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.history__col {
  font-family: "Poppins", sans-serif;
  flex-basis: 50%;
  padding: 40px;
  line-height: 1.6;
}
.history--content h2 {
  margin-bottom: 20px;
  font-weight: 700;
}
.history--content p {
  margin-bottom: 25px;
  color: var(--color-grey);
}
.banner {
  background-color: var(--dark-green);
  max-width: 100%;
  height: auto;
}
.banner__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.banner__content h2 {
  color: #fff;
}
.banner__content button {
  padding: 10px 35px;
  border: 1px solid #fff;
  color: var(--bg-color);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: none;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-basis: 25%;
  font-family: "Poppins", sans-serif;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 20px;
  line-height: 1.9;
  min-height: 300px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: var(--dark-green);
  font-family: "Poppins", sans-serif;
}
.tag-purple {
  background-color: var(--dark-green);
  font-family: "Poppins", sans-serif;
}
.tag-pink {
  background-color: var(--dark-green);
  font-family: "Poppins", sans-serif;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.title__article {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}
.button--article {
  text-align: center;
  margin: 40px 40px;
}
.footer {
  width: 100%;
  height: auto;
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.footer__row--logo{
  flex-basis: 30%;
}

.columns-1 {
  padding: 40px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}
.columns-1 span{
  color: var(--bg-color);
}
.columns-1 p {
  color: var(--bg-color);
  margin-top: 30px;
}
.columns-1 h4{
  padding: 20px 0;
  font-size: 1.2em;
  color: var(--bg-color);
  text-align: left;
}
.columns-1 ul {
  list-style-type: none;

}
.columns-1 ul li {
  margin-top: 10px;
}
.columns-1 ul li a{
  color: var(--bg-color);
  text-decoration: line-through;
}
.columns-1 ul li a:hover{
  text-decoration: none;  
}
@media (max-width: 576px) {
  .naviagtion__item__menu i {
    font-size: 10px;
  }
  .history__row {
    flex-direction: column-reverse;
  }
  .history__row1 {
    flex-direction: column;
  }
  .item--content span {
    font-size: 20px;
  }
  .row__columns h1 {
    font-size: 2em;
  }
  .navigation__item ul li {
    display: none;
  }
  .naviagtion__item__logo img {
    width: 350px;
  }
  .navigation__item {
    padding: 20px;
  }
  .col__1 {
    flex-basis: 50%;
    text-align: center;
  }
  .col__1 h1 {
    font-size: 2.5em;
  }
  .col__1 p {
    margin-top: 20px;
    font-size: 1em;
  }
  .col__2 {
    display: none;
  }
  .col__1--buttons {
    padding: 10px 15px;
  }
  .container {
    flex-direction: column;
  }
  .card-body {
    min-height: 200px;
  }
  .columns-1{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .col__1--buttons .buttons--2 {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .col__1 {
    flex-basis: 90%;
  }
  .history__row {
    flex-direction: column-reverse;
  }
  .history__row1 {
    flex-direction: column;
  }
  .banner__content {
    flex-direction: column;
  }
  .banner__content h2 {
    margin-bottom: 25px;
  }
  .container {
    flex-direction: column;
  }
  .columns--footer{
    flex-direction: column;
    align-items: left;
  }
  .columns-2 {
    flex-direction: column;
  }
  .footer{   
    flex-direction: column;
  }
  .columns-1{
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 991px) {
  
  .navigation__item ul li {
    display: none;
  }
  .col__1 {
    flex-basis: 85%;
    align-items: center;
    text-align: center;
  }
  .col__2 img {
    display: block;
    flex-basis: 40%;
  }
  .history__col {
    flex-basis: 90%;
  }
  .history__row {
    flex-direction: column-reverse;
  }
  .history__row1 {
    flex-direction: column;
  }
}
@media (max-width: 1101px) {
  .naviagtion__item__menu i {
    display: block;
    font-size: 20px;
  }
  .navigation__item ul {
    display: none;
  }
  .col__2 img {
    display: block;
    flex-basis: 40%;
  }
  .history__col {
    flex-basis: 90%;
  }
  .history__row {
    flex-direction: column-reverse;
  }
  .history__row1 {
    flex-direction: column;
  }
  .columns-1{
    text-align: center;
  }
  .columns-1 h4{
    text-align: center;
  }
  .columns-1 ul {
    text-align: center;
  }
  .footer{
    align-items: center;
    justify-content: center;
  }
}   
